[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pytest = "*"
pytest-django = "*"
black = "*"
mypy = "*"
isort = "*"
"autopep8" = "*"
"flake8" = "*"
coverage = "*"
pytest-cov = "*"

[packages]
django = "*"
gunicorn = "*"
"django12factor" = "*"
whitenoise = "*"
"psycopg2-binary" = "*"
requests = "*"
sentry-sdk = "*"
"pep508" = "*"
parsley = "*"
django-rq = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
