[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pytest = "*"
pytest-django = "*"
black = "*"
mypy = "*"

[packages]
django = "*"
gunicorn = "*"
"django12factor" = "*"
whitenoise = "*"
"psycopg2" = "*"
requests = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
