[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pytest = "*"
pytest-django = "*"
black = "==22.6.0"
mypy = "*"
isort = "*"
"autopep8" = "*"
"flake8" = "*"
coverage = "*"
pytest-cov = "*"
types-requests = "*"

[packages]
django = "*"
gunicorn = "*"
"django12factor" = "*"
whitenoise = "*"
"psycopg2-binary" = "*"
requests = "*"
sentry-sdk = "*"
"pep508" = "*"
parsley = "*"
django-rq = "*"
packaging = "*"
feedparser = "*"
django-bmemcached = "*"
django-referrer-policy = "*"
django-csp = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
