{% extends "base.html" %}

{% block content %}
	<div id="graphDiv">
		graph TD
			{% for dependency in dependencies %}
				{{ dependency.package_version.package.name }} --> {{ dependency.package.name }};
			{% endfor %}
	</div>
{% endblock %}

{% block javascript %}
	<script src="https://unpkg.com/mermaid@8.0.0/dist/mermaid.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/svg-pan-zoom@3.5.0/dist/svg-pan-zoom.min.js"></script>
	<script>
		mermaidAPI = mermaid.mermaidAPI
		mermaidAPI.initialize({
			startOnLoad:false
		});
		$(function(){
			var element = $("#graphDiv");
			var insertSvg = function(svgCode, bindFunctions){
				element.innerHTML = svgCode;
			};
			var graphDefinition = element.text;
			console.log(graphDefinition);
			var graph = mermaidAPI.render('graphDiv', graphDefinition, insertSvg);
		});
	</script>
{% endblock %}
