{% extends "base.html" %}

{% block content %}
<div class="text-center my-md-5 pb-md-5">
	<h1>
		Explore Python package dependencies within the Emporium
	</h1>
	<a class="btn btn-lg btn-primary m-4" href="{% url "packages" %}">Browse the full package list</a>

<!-- Enable when search is actually good
	<form action="{% url "search" %}" method="GET">
		<input type="text" placeholder="Search Packages" name="q">
	</form>
-->

</div>

<div class="row bg-light text-center p-4">
	<div class="col-md-4">{{ package_count }} packages</div>
	<div class="col-md-4">{{ packageversion_count }} versions</div>
	<div class="col-md-4">{{ dependency_count }} dependencies</div>
</div>

<blockquote class="blockquote text-center p-4">
	Welcome to the National Cheese Emporium!
	<footer class="blockquote-footer">Michael Palin to John Cleese, in <cite>The Cheese Shop</cite> sketch from <cite>Monty Python's Flying Circus</cite></footer>
</blockquote>

{% endblock %}
