{% extends "base.html" %}

{% block content %}
	<h1>Packages</h1>

	<p>
		{{ package_count }} packages, {{ packageversion_count }} versions, {{ dependency_count }} dependencies
	</p>

	{% if user.is_authenticated %}
		<div class="row">
			<div class="col-12">
				<h2>Add Package</h2>
				<form action="{% url 'add-package' %}" method="POST">{% csrf_token %}
					{{ add_package_form.as_p }}
					<input type="submit" value="Add Package">
				</form>
			</div>
		</div>
	{% endif %}

	{% if user.is_authenticated %}
		<div class="row">
			<div class="col-12">
				<form action="{% url 'fetch-latest-package-versions' %}" method="POST">{% csrf_token %}
					<input type="submit" value="Fetch ALL latest package versions">
				</form>
			</div>
		</div>
	{% endif %}

	{% if user.is_authenticated %}
		<div class="row">
			<div class="col-12">
				<form action="{% url 'fetch-pypi-recent-updates' %}" method="POST">{% csrf_token %}
					<input type="submit" value="Fetch PyPI recent updates">
				</form>
			</div>
		</div>
	{% endif %}

	{% if is_paginated %}
		<div class="row">
			<div class="col-12">
				<div class="pagination">
					{% if page_obj.has_previous %}
						<a href="{% url "packages" %}?page={{ page_obj.previous_page_number }}">Previous</a>
					{% endif %}
					<span class="page-current">({{ page_obj.number }} of {{ page_obj.paginator.num_pages }})</span>
					{% if page_obj.has_next %}
						<a href="{% url "packages" %}?page={{ page_obj.next_page_number }}">Next</a>
					{% endif %}
				</div>
			</div>
        </div>
    {% endif %}

	<div class="container">
		<div class="row">
			{% for package in package_list %}
				<div class="col">
					<h3><a href="{% url 'package' name=package.name %}">{{ package }}</a></h2>
					<ul>
						{% if user.is_authenticated %}
							<li>
								<form action="{% url 'fetch-latest-package-version' pk=package.id %}" method="post">
									{% csrf_token %}
									<input type="submit" value="Fetch latest package version" />
								</form>
							</li>
							<li>
								<form action="{% url 'fetch-all-package-versions' pk=package.id %}" method="post">
									{% csrf_token %}
									<input type="submit" value="Fetch ALL package versions" />
								</form>
							</li>
						{% endif %}
					</ul>
				</div>
				{% with package.get_latest_version as pv %}
					{% if pv %}
						<div class="col">{{ pv.version }}</div>
						{% with package.packageversion_set.count as pvs %}
							<div class="col">{{ pvs }} version{{ pvs|pluralize }}</div>
						{% endwith %}
						<div class="col">
							<a href="{% url "package-version-dependency-graph" name=pv.package.name version=pv.version %}">
								Dependency Graph
							</a>
						</div>
					{% endif %}
				{% endwith %}
				<div class="w-100"></div>
			{% endfor %}
		</div>
	</div>

	{% if is_paginated %}
		<div class="row">
			<div class="col-12">
				<div class="pagination">
					{% if page_obj.has_previous %}
						<a href="{% url "packages" %}?page={{ page_obj.previous_page_number }}">Previous</a>
					{% endif %}
					<span class="page-current">({{ page_obj.number }} of {{ page_obj.paginator.num_pages }})</span>
					{% if page_obj.has_next %}
						<a href="{% url "packages" %}?page={{ page_obj.next_page_number }}">Next</a>
					{% endif %}
				</div>
			</div>
        </div>
    {% endif %}
{% endblock %}
