{% extends "base.html" %}

{% block content %}
	<h1>{{ package }}</h1>

	{% if user.is_authenticated %}
		<div class="btn-group" role="group">
			<form action="{% url 'fetch-latest-package-version' pk=package.id %}" method="post">
				{% csrf_token %}
				<input class="btn btn-lg btn-primary" type="submit" value="Fetch latest package version" />
			</form>
			<span>&nbsp;</span>
			<form action="{% url 'fetch-all-package-versions' pk=package.id %}" method="post">
				{% csrf_token %}
				<input class="btn btn-lg btn-warning" type="submit" value="Fetch ALL package versions" />
			</form>
		</div>
	{% endif %}

	<div>
		<h2>Depended on by</h2>
		{% for dep in package.get_dependents %}
			<ul>
				<li>
					<a href="{% url "package" name=dep.name %}">{{ dep.name }}</a>
				</li>
			</ul>
		{% endfor %}
	</div>

	<div class="accordion" id="accordion">
		{% for pv in package.get_sorted_versions_descending %}
			<div class="card">
				<div class="card-header" id="heading-{{ pv.id }}">
					<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapse-{{ pv.id }}" aria-expanded="true" aria-controls="collapse-{{ pv.id }}">
						{{ pv.version }}
					</button>
					<a class="btn btn-info" href="{% url "package-version-dependency-graph" name=pv.package.name version=pv.version %}">Graph</a>
				</div>

				<div id="collapse-{{ pv.id }}" class="collapse {% if forloop.first %}show{% endif %}" aria-labelledby="heading-{{ pv.id }}" data-parent="#accordion">
					<div class="card-body">
						<h4>Depends On</h4>
						<ul>
							{% for dependency in pv.dependency_set.all %}
								<li><a href="{% url 'package' name=dependency.package.name %}">{{ dependency.package.name }}</a> (<code>{{ dependency.specification }}</code>)</li>
							{% endfor %}
						</ul>

						{% if user.is_authenticated %}
							<h4><code>setup.py</code></h4>
							<pre>{{ pv.setuppy|linebreaksbr }}</pre>
						{% endif %}

						{% if user.is_authenticated %}
							{% if pv.fetched %}
								<a href={% url 'parse-setuppy' name=package.name version=pv.version  %}>Parse setup.py</a>
							{% else %}
								<form action="{% url 'fetch-setuppy' name=package.name version=pv.version %}" method="post">
									{% csrf_token %}
									<input type="submit" value="Fetch setup.py" />
								</form>
							{% endif %}
						{% endif %}
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
{% endblock %}
