{% extends "base.html" %}

{% block content %}
	{% if user.is_authenticated %}
		<h2>Add Package</h2>
		<form action="{% url 'add-package' %}" method="POST">{% csrf_token %}
			{{ add_package_form.as_p }}
			<input type="submit" value="Add Package">
		</form>
	{% endif %}

	{% if user.is_authenticated %}
		<form action="{% url 'fetch-latest-package-versions' %}" method="POST">{% csrf_token %}
			<input type="submit" value="Fetch ALL latest package versions">
		</form>
	{% endif %}

	{% if is_paginated %}
		<div class="pagination">
			{% if page_obj.has_previous %}
				<a href="{% url "packages" %}?page={{ page_obj.previous_page_number }}">Previous</a>
			{% endif %}
			<span class="page-current">({{ page_obj.number }} of {{ page_obj.paginator.num_pages }})</span>
			{% if page_obj.has_next %}
				<a href="{% url "packages" %}?page={{ page_obj.next_page_number }}">Next</a>
			{% endif %}
        </div>
    {% endif %}

	<table>
		{% for package in package_list %}
			<tr>
				<td><a href="{% url 'package' name=package.name %}">{{ package }}</a></td>
				<td>
					<ul>
						{% for pv in package.packageversion_set.all %}
							<li>{{ pv.version }}</li>
						{% endfor %}
						{% if user.is_authenticated %}
							<li>
								<form action="{% url 'fetch-latest-package-version' pk=package.id %}" method="post">
									{% csrf_token %}
									<input type="submit" value="Fetch latest package version" />
								</form>
							</li>
							<li>
								<form action="{% url 'fetch-all-package-versions' pk=package.id %}" method="post">
									{% csrf_token %}
									<input type="submit" value="Fetch ALL package versions" />
								</form>
							</li>
						{% endif %}
					</ul>
				</td>
				{% with package.get_latest_version as pv %}
					{% if pv %}
						<td>{{ pv.version }}</td>
						{% if user.is_authenticated %}
							<td>
								{% if not pv.fetched %}
									<form action="{% url 'fetch-setuppy' name=package.name version=pv.version %}" method="post">
										{% csrf_token %}
										<input type="submit" value="Fetch setup.py" />
									</form>
								{% endif %}
							</td>
							<td>
								{% if pv.fetched %}
									<form action="{% url 'parse-setuppy' name=package.name version=pv.version %}" method="post">
										{% csrf_token %}
										<input type="submit" value="Parse setup.py" />
									</form>
								{% endif %}
							</td>
						{% endif %}
						<td>
							<ul>
								{% for dependency in pv.dependency_set.all %}
									<li><a href="{% url 'package' name=dependency.package.name %}">{{ dependency.package.name }}</a> (<code>{{ dependency.specification }}</code>)</li>
								{% endfor %}
							</ul>
						</td>
					{% endif %}
				{% endwith %}
			</tr>
		{% endfor %}
	</table>

	{% if is_paginated %}
		<div class="pagination">
			{% if page_obj.has_previous %}
				<a href="{% url "packages" %}?page={{ page_obj.previous_page_number }}">Previous</a>
			{% endif %}
			<span class="page-current">({{ page_obj.number }} of {{ page_obj.paginator.num_pages }})</span>
			{% if page_obj.has_next %}
				<a href="{% url "packages" %}?page={{ page_obj.next_page_number }}">Next</a>
			{% endif %}
        </div>
    {% endif %}
{% endblock %}
